body{
    background-color: black;
    color: white;
    text-align: center;
    /* height: inherit; */
}
header,footer,section{
    border: solid 2px red;
    margin: 10px;
}
div{
    border:solid 2px cyan;
    padding: 2px;
    text-align: center;
}